.footer {
  display: flex;
  justify-content: center;
  text-wrap: nowrap;
  min-height: 100px;
  margin: 60px 0;
  background: #fcf5e5;
}

.footer__content {
  margin: 0;
  font-weight: 400;
  font-size: 16px;

  width: 104px;
  height: 16px;
}
