.footer {
  display: flex;
  justify-content: center;
  text-wrap: nowrap;
  padding: 60px 0;
  background: #fcf5e5;
}

.footer__content {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  max-width: 104px;
}
